<!-- Index Layout Start -->

<!doctype html>
<html lang="{{ site.lang }}">

  {% include head.html %}

<body
    id="page-top"
    data-spy="scroll"
    data-target=".navbar-fixed-top"
    data-offset="151"
  >
    
	{% include navigation.html %} 

    {% include header.html %} 

    {% for p in site.pages_list %} 
      {% for page in site.pages %} 
        {% if p[1] == page.section-type %} 
          {% include {{ page.path }} %} 
        {% endif %} 
      {% endfor %}
    {% endfor %} 

    {% include footer.html %} 

    {% include js.html %}

  </body>
</html>
<link rel="stylesheet" href="assets/css/pseudocode.css">
   <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
   <script>
   window.MathJax = {
     tex: {
       inlineMath: [['$', '$'], ['\\(', '\\)']]
     },
     svg: {
       fontCache: 'global'
     }
   };

   (function () {
     var script = document.createElement('script');
     script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js';
     script.async = true;
     document.head.appendChild(script);
   })();
   </script>
<!-- Index Layout End -->
